
@{
    ViewData["Title"] = "Om sidan";
}

<div class="text-center">
    <h1 class="display-4">Om sidan</h1>
    <p class="">Webbsidan är utvecklad med hjälp av MVC-arkitekturen (Model-View-Controller), en populär designmönster inom webbutveckling. MVC separerar webbapplikationens komponenter i tre huvudavdelningar för att förbättra kodens struktur och underhållbarhet.

    Webbsidan är stilerad med CSS, för att uppnå extra poäng. 

    Data sparas temporärt i cookies, så att användaren kan komma åt sina sparade filmer även efter att de har stängt webbläsaren. Denna webbplats är enbart ett enkelt exempel på hur MVC-arkitekturen kan användas för att utveckla dynamiska webbsidor med C# och .NET Core.
    </p>
</div>
